body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
    color: black;
    border-top: 10px solid black;
    background-color: lavender;
}

section{
    display: flex;
    flex-direction: column;
}

section:nth-of-type(1){
    flex: 1;
}

section:nth-of-type(2){
    flex: 1;
}

.contact{
    display: flex;
    justify-content: space-around;
}

#blog_title{
    font-size: 2.5em;
}

header{
    text-align: center;
}

/* 
sticky nav sidebar 
https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp
*/
nav{
    position: fixed;
    width: 100px;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

nav a{
    padding: 5px 5px 5px;
    font-size: 20px;
    color: black;
    display: block;
}


table{
    text-align: center;
    border-spacing: 10px;
    padding: 5px;
}


td{
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
}

article{
    border-spacing: 2px;
    border-bottom: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.post_title{
    text-decoration: underline;
}

form{
    font-size: 1em;
    padding: 2px;
}

button{
    font-style: oblique;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_float3 */
div{
    float: left;
    padding: 5px;
    text-align: center;
    text-decoration: underline;
}

.subtxt{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 0.85em;
}

#table1{
    text-align: left;
}